<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzp.library.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.dzp.library.pojo.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="publish" jdbcType="VARCHAR" property="publish" />
    <result column="ISBN" jdbcType="VARCHAR" property="isbn" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="pubdate" jdbcType="VARCHAR" property="pubdate" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
  </resultMap>
  <sql id="Base_Column_List">
    book_id, name, author, publish, ISBN, introduction, language, price, pubdate, cid, 
    stock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_info
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book_info
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dzp.library.pojo.Book">
    insert into book_info (book_id, name, author, 
      publish, ISBN, introduction, 
      language, price, pubdate, 
      cid, stock)
    values (#{bookId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{publish,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{pubdate,jdbcType=VARCHAR}, 
      #{cid,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dzp.library.pojo.Book">
    insert into book_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="publish != null">
        publish,
      </if>
      <if test="isbn != null">
        ISBN,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="stock != null">
        stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publish != null">
        #{publish,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzp.library.pojo.Book">
    update book_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="publish != null">
        publish = #{publish,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        ISBN = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzp.library.pojo.Book">
    update book_info
    set name = #{name,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      publish = #{publish,jdbcType=VARCHAR},
      ISBN = #{isbn,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      pubdate = #{pubdate,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
    <resultMap id="bookinfo" type="com.dzp.library.pojo.Book">
        <!-- 一对一关联 -->
        <!-- 一个书对应一种类别 -->
        <result column="book_id" property="book_id" />
        <result column="name" property="name" />
        <result column="author" property="author" />
        <result column="publish" property="publish" />
        <result column="ISBN" property="ISBN" />
        <result column="introduction" property="introduction" />
        <result column="language" property="language" />
        <result column="price" property="price" />
        <result column="pubdate" property="pubdate" />
        <result column="stock" property="stock" />
        <!--property中是Bookinfo类中的Category变量名 category  -->
        <association javaType="com.dzp.library.pojo.Category" property="category">
            <result column="cid" property="cid" />
            <result column="cname" property="cname" />
        </association>
    </resultMap>
    <!--<select id="listAllBook"  resultMap="bookinfo" parameterType="PageBean">-->
        <!--&lt;!&ndash; 根据条件查询 图书的所有信息 &ndash;&gt;-->
        <!--SELECT a.book_id,-->
        <!--a.name,-->
        <!--a.author,-->
        <!--a.publish,-->
        <!--a.ISBN,-->
        <!--a.introduction,-->
        <!--a.language,-->
        <!--a.price,-->
        <!--a.pubdate,-->
        <!--a.cid,-->
        <!--b.cname,-->
        <!--a.stock,-->
        <!--from book_info a left join class_info b on a.cid=b.cid-->
        <!--<where>-->

            <!--&lt;!&ndash;<if test="bname!=null and bname!=''">&ndash;&gt;-->
                <!--&lt;!&ndash;and a.name like '%${bname}%'&ndash;&gt;-->
            <!--&lt;!&ndash;</if>&ndash;&gt;-->
            <!--&lt;!&ndash;<if test="author!=null and author!=''">&ndash;&gt;-->
                <!--&lt;!&ndash;and a.author like '%${author}%'&ndash;&gt;-->
            <!--&lt;!&ndash;</if>&ndash;&gt;-->
            <!--&lt;!&ndash;<if test="cname!=null and cname!=''">&ndash;&gt;-->
                <!--&lt;!&ndash;and b.cname like '%${cname}%'&ndash;&gt;-->
            <!--&lt;!&ndash;</if>&ndash;&gt;-->
        <!--</where>-->
        <!--<if test="currentPage!=null and currentPage!=''">-->
            <!--limit #{index}, #{pageSize}-->
        <!--</if>-->
    <!--</select>-->

    <!--&lt;!&ndash; 查询条数 &ndash;&gt;-->
    <!--<select id="bookCount" parameterType="PageBean" resultType="Integer">-->
        <!--select COUNT(*) FROM book_info a left join class_info b on a.class_id=b.cid-->
        <!--<where>-->
            <!--<if test="bname!=null and bname!=''">-->
                <!--and a.name like '%${bname}%'-->
            <!--</if>-->
            <!--<if test="author!=null and author!=''">-->
                <!--and a.author like '%${author}%'-->
            <!--</if>-->
            <!--<if test="cname!=null and cname!=''">-->
                <!--and b.cname like '%${cname}%'-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->
    <!-- 查询类别 -->
    <select id="listCategory" resultType="Category">
        select cid,cname FROM  class_info
    </select>

    <!--&lt;!&ndash; 修改图书 &ndash;&gt;-->
    <update id="updateBook" parameterType="Book">
        UPDATE  book_info SET name=#{name},
        author=#{author},
        publish=#{publish},
        ISBN=#{ISBN},
        introduction=#{introduction},
        language=#{language},
        price=#{price},
        pubdate=#{pubdate},
        cid=#{cid},
        stock=#{stock}
        where book_id=#{book_id}
    </update>
    <!--&lt;!&ndash; 添加图书 &ndash;&gt;-->
    <insert id="addBook" parameterType="Book">
        INSERT INTO book_info(
        book_id,
        name,
        author,
        publish,
        ISBN,
        introduction,
        language,
        price,
        pubdate,
        cid,
        stock
        ) VALUES(#{book_id},#{name},#{author},#{publish},#{ISBN},#{introduction},#{language},#{price},#{pubdate},#{cid},#{stock})
    </insert>

    <!--&lt;!&ndash; 删除图书 &ndash;&gt;-->
    <delete id="delBook" parameterType="Integer">
        DELETE from  book_info WHERE book_id=#{book_id}
    </delete>
    <!--&lt;!&ndash; 修改图书类别 &ndash;&gt;-->
    <!--<update id="updateBookType" parameterType="Category" >-->
        <!--UPDATE  class_info SET cname=#{cname}-->
        <!--where cid=#{cid}-->
    <!--</update>-->
    <!--&lt;!&ndash; 添加图书类别 &ndash;&gt;-->
    <!--<select id="addBookType" parameterType="Category" >-->
        <!--INSERT INTO  class_info(cname) VALUES(#{cname})-->
    <!--</select>-->
    <!--&lt;!&ndash; 删除图书类别 &ndash;&gt;-->
    <!--<select id="delBookType" parameterType="Category" >-->
        <!--delete from  class_info where cid=#{cid}-->
    <!--</select>-->
    <!--&lt;!&ndash; 减少图书库存 &ndash;&gt;-->
    <!--<select id="reduceStock" parameterType="Bookinfo" >-->
        <!--UPDATE  book_info SET stock=stock-1-->
        <!--where book_id=#{book_id}-->
    <!--</select>-->


    <select id="queryList" resultMap="bookinfo">
        <!-- 根据条件查询 图书的所有信息 -->
        SELECT *
        from book_info
        <where>
            <if test="bname!=null"> and name LIKE concat("%",#{bname},"%") </if>
            <if test="author!=null"> and author LIKE concat("%",#{author},"%") </if>
            <if test="cid!=null"> and cid LIKE concat("%",#{cid},"%") </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from book_info
        <where>
            <if test="bname!=null"> and name LIKE concat("%",#{bname},"%") </if>
            <if test="author!=null"> and author LIKE concat("%",#{author},"%") </if>
            <if test="cid!=null"> and cid LIKE concat("%",#{cid},"%") </if>
        </where>
    </select>

    <select id="selectById" parameterType="int" resultType="Book">
        SELECT *
        from book_info
        where book_id = #{book_id}
    </select>

    <!-- 减少图书库存 -->
    <update id="reduceStock" parameterType="int">
        UPDATE  book_info SET stock=stock-1
        where book_id=#{book_id}
    </update>

</mapper>