<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzp.library.dao.ReaderMapper">
  <resultMap id="BaseResultMap" type="com.dzp.library.pojo.Reader">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reader_id" jdbcType="INTEGER" property="readerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="INTEGER" property="password" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="card_state" jdbcType="INTEGER" property="cardState" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reader_id, name, password, sex, birthday, address, telephone, card_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reader_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reader_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dzp.library.pojo.Reader">
    insert into reader_info (id, reader_id, name, 
      password, sex, birthday, 
      address, telephone, card_state
      )
    values (#{id,jdbcType=INTEGER}, #{readerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{password,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{cardState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dzp.library.pojo.Reader">
    insert into reader_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="cardState != null">
        card_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="readerId != null">
        #{readerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cardState != null">
        #{cardState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzp.library.pojo.Reader">
    update reader_info
    <set>
      <if test="readerId != null">
        reader_id = #{readerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="cardState != null">
        card_state = #{cardState,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzp.library.pojo.Reader">
    update reader_info
    set reader_id = #{readerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      card_state = #{cardState,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 查询 -->
    <resultMap id="readerinfo" type="com.dzp.library.pojo.Reader">
        <result column="reader_id" property="reader_id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="telephone" property="telephone" />
        <result column="card_state" property="card_state" />
    </resultMap>
    <!--<select id="findReader"  resultMap="Reader" parameterType="PageBean">-->
        <!--&lt;!&ndash; 根据条件查询 读者的所有信息 &ndash;&gt;-->
        <!--select-->
        <!--reader_id,-->
        <!--name,-->
        <!--sex,-->
        <!--birth,-->
        <!--address,-->
        <!--telcode,-->
        <!--card_state-->
        <!--from-->
        <!--reader_info-->
        <!--<where>-->
            <!--<if test="reader_id!=null and reader_id!=''">-->
                <!--and reader_id like '%${reader_id}%'-->
            <!--</if>-->
            <!--<if test="rname!=null and rname!=''">-->
                <!--and name like '%${rname}%'-->
            <!--</if>-->
        <!--</where>-->
        <!--<if test="currentPage!=null and currentPage!=''">-->
            <!--limit #{index}, #{pageSize}-->
        <!--</if>-->
    <!--</select>-->

    <!-- 查询条数 -->
    <!--<select id="readerCount" parameterType="PageBean" resultType="Integer">-->
        <!--select COUNT(*) FROM reader_info-->
        <!--<where>-->
            <!--<if test="reader_id!=null and reader_id!=''">-->
                <!--and reader_id like '%${reader_id}%'-->
            <!--</if>-->
            <!--<if test="rname!=null and rname!=''">-->
                <!--and name like '%${rname}%'-->
            <!--</if>-->
        <!--</where>-->
    <!--</select>-->

    <!-- 修改读者 -->
    <!--<select id="updateReader" parameterType="Reader" >-->
        <!--UPDATE  reader_info SET-->
        <!--name=#{name},-->
        <!--sex=#{sex},-->
        <!--birth=#{birth2},-->
        <!--address=#{address},-->
        <!--telcode=#{telcode},-->
        <!--card_state=#{card_state}-->
        <!--where reader_id=#{reader_id}-->
    <!--</select>-->

    <!-- 添加读者 -->
    <insert id="addReader" parameterType="Reader">
        INSERT INTO reader_info(
        reader_id,
        name,
        password,
        sex,
        birthday,
        address,
        telephone,
        card_state
        ) VALUES(#{reader_id},#{name},#{password},#{sex},#{birthday},#{address},#{telephone},#{card_state})
    </insert>

    <!-- 删除读者 -->
    <delete id="delReader" parameterType="Integer">
        DELETE from  reader_info WHERE id=#{id}
    </delete>


    <!-- 是否存在读者 -->
    <select id="checkReader" parameterType="Integer" resultType="Integer">
        select count(*) from  reader_info WHERE reader_id=#{reader_id}
    </select>

    <!--读者登录 验证-->
    <select id="select" parameterType="Reader" resultType="Reader">
        select *
        FROM reader_info where reader_id=#{reader_id}  and password=#{password}
    </select>


    <select id="queryList" resultMap="readerinfo">
        <!-- 根据条件查询 图书的所有信息 -->
        SELECT *
        from reader_info
        <where>
            <if test="reader_id!=null"> and reader_id LIKE concat("%",#{reader_id},"%") </if>
            <if test="name!=null"> and name LIKE concat("%",#{name},"%") </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from reader_info
        <where>
            <if test="reader_id!=null"> and reader_id LIKE concat("%",#{reader_id},"%") </if>
            <if test="name!=null"> and name LIKE concat("%",#{name},"%") </if>
        </where>
    </select>

    <select id="selectById" parameterType="int" resultType="Reader">
        SELECT *
        from reader_info
        where id = #{id}
    </select>



    <update id="updateReader" parameterType="Reader">
        UPDATE  reader_info SET reader_id=#{reader_id},
        name=#{name},
        sex=#{sex},
        birthday=#{birthday},
        address=#{address},
        telephone=#{telephone},
        card_state=#{card_state}
        where id=#{id}
    </update>

    <update id="alterpwd" parameterType="Reader">
        update reader_info set password=#{password} where reader_id=#{reader_id}
    </update>

</mapper>